node_modules
npm-error.log
yarn-error.log
.vscode
.env
packages/*/dist
packages/*/node_modules
packages/*/tsconfig.tsbuildinfo
docker-compose.yml
Dockerfile
.dockerignore
.git
.gitignore
.eslintrc
.eslintignore
*.md