node_modules
yarn-error.log*
npm-error.log*
.vscode
packages/client-web/dist
packages/client-desktop/dist
packages/client-desktop/build
.env
packages/client-desktop/package-lock.json
buildconfig
package-lock.json
